@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Ubuntu+Condensed&family=Ubuntu+Mono&family=Ubuntu:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0396ff;
}

.container{
    height: 400px;
    width: 400px;
    display: flex;
    align-items: flex-end;
}



.icon-image{
    height: 70px;
    width: 70px;
    position: relative;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.icon-image img{
    position: absolute;
    height: 95%;
    width: 95%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #0396ff;
}

.hover-image{
    position: absolute;
    height: 350px;
    width: 300px;
    bottom: 100px;
    left: 50%;
    border-radius: 25px;
    transform: translateX(-50%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}


.hover-image img{
    position: absolute;
    height: 100%;
    width: 100%;
    border: 3px solid #fff;
    object-fit: cover;
    border-radius: 25px;

}

.content{
    position: absolute;
    width: 100%;
    bottom: -10px;
    left: 0;
}


